# Token default ShopeePay Merchant (diawali dengan 'B:')
SHOPEE_TOKEN=B:your_inner_shopeepay_token_here

# Kunci rahasia untuk memproteksi API Gateway kamu sendiri
API_KEY=your_x_api_key_here

# Port server berjalan
PORT=4000

# Notifikasi peringatan via Telegram (opsional)
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here
TELEGRAM_CHAT_ID=your_telegram_chat_id_here

# QRIS statis merchant kamu (untuk pembuatan QRIS dinamis)
QRIS_STATIC=00020101021126610016ID.CO.SHOPEE.WWW0118...
